In [40]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score, StratifiedKFold, ShuffleSplit
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import KFold

import numpy as np

In [41]:
# Load the data
if 'google.colab' in sys.modules:
    print("Ejecutando en Google Colab")
    from google.colab import drive
    !git clone https://github.com/azambrana/iris.git
    drive.mount('/content/iris', force_remount=True)
    data_path = 'https://raw.githubusercontent.com/azambrana/iris/master/data/Iris.csv'
else:
    data_path = '../data/Iris.csv'
    print("Ejecutando localmente")

Ejecutando localmente

In [42]:
# Load the data

df = pd.read_csv(data_path)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [43]:
X = df.iloc[:, 1:5].values
y = df.iloc[:, 5].values

display(df.iloc[:, 1:5])
display(df.iloc[:, 5])

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [44]:
# Initialize the models
models = {
    'Logistic Regression': LogisticRegression(max_iter=200),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Support Vector Machine': SVC()
}

In [45]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Dictionary to store cross-validation results
cv_results = {}

# Perform cross-validation
for model_name, model in models.items():
    scores = cross_val_score(model, X, y, cv=kf, scoring='accuracy')
    cv_results[model_name] = scores
    print(f"{model_name}: Mean Accuracy = {np.mean(scores):.3f}, Std = {np.std(scores):.3f}")

Logistic Regression: Mean Accuracy = 0.973, Std = 0.025
Decision Tree: Mean Accuracy = 0.953, Std = 0.027
Random Forest: Mean Accuracy = 0.960, Std = 0.025
Support Vector Machine: Mean Accuracy = 0.967, Std = 0.030

In [46]:
# Create StratifiedKFold object
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Dictionary to store cross-validation results
cv_results = {}

# Perform cross-validation
for model_name, model in models.items():
    scores = cross_val_score(model, X, y, cv=kf, scoring='accuracy')
    cv_results[model_name] = scores
    print(f"{model_name}: Mean Accuracy = {np.mean(scores):.3f}, Std = {np.std(scores):.3f}")

Logistic Regression: Mean Accuracy = 0.973, Std = 0.025
Decision Tree: Mean Accuracy = 0.953, Std = 0.027
Random Forest: Mean Accuracy = 0.960, Std = 0.025
Support Vector Machine: Mean Accuracy = 0.967, Std = 0.030

In [47]:
# Create ShuffleSplit object
ss = ShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

# Dictionary to store cross-validation results
cv_results = {}

# Perform cross-validation
for model_name, model in models.items():
    scores = cross_val_score(model, X, y, cv=ss, scoring='accuracy')
    cv_results[model_name] = scores
    print(f"{model_name}: Mean Accuracy = {np.mean(scores):.3f}, Std = {np.std(scores):.3f}")

Logistic Regression: Mean Accuracy = 0.960, Std = 0.025
Decision Tree: Mean Accuracy = 0.960, Std = 0.025
Random Forest: Mean Accuracy = 0.960, Std = 0.025
Support Vector Machine: Mean Accuracy = 0.960, Std = 0.025